
<h1>ADD A SCHOOL TO YOUR LIST</h1>

<form action="/schools/new" method="post">
			<input type="text" id="description" name="school[description]">
			<input type="submit" value="Submit School">
</form>